@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-varient: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-light)    
}

.dark-theme{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}


*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    background: var(--color-background);
    user-select: none;
    color: var(--color-dark);
}
*{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
.sp1 {
    position: relative;
}

.vsc,
.vsc2 {
    position: relative;
}

.vsc {
    width: 100px;
    height: 150px;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-left: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    transform: rotate(5deg);
    z-index: 1; /* Initial stacking order for the first card */
}

.vsc2 {
    width: 100px;
    height: 150px;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-left: 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    transform: rotate(-10deg);
    margin-top: -150px;
    z-index: 0; /* Initial stacking order for the second card */
}

.vsc:hover,
.vsc2:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.7);
    z-index: 2; /* Bring the hovered card to the front */
}
.vsc:hover{
    rotate: 5deg;
}
.vsc2:hover{
    rotate: -5deg;
}

.vsc img {
    border-radius: 50%;
}

.vsc2 img {
    border-radius: 50%;
    margin-top: -20px;
    width: 70px;
    height: 70px;
    margin-left: 5px;
}


.calc {
    position: fixed;
    top: 850px; 
    left: 20px; 
    width: 70px; 
    height: 70px; 
    z-index: 999;
    border-radius: 50%;
    margin-left: 50px; 
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(134, 130, 130);
}

.calculator-popup {
    display: none;
    position: fixed;
    top: 62%;
    left: 26%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 2rem;
    box-shadow: 10px 10px 20px rgb(134, 130, 130);
}
.calculator-popup iframe{
    border-radius: 2rem;
}

.logo{
    margin-top:10px;
}
.logo h2{
    margin-top:15px;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{font-size: 1.4rem;}
h3{font-size: 1rem;}
h4{font-size: 1rem;}
h5{font-size: 1rem;}
small{font-size: 1rem;}

.text-muted{color: var(--color-info);}
p{color: var(--color-dark-varient);}
b{color: var(--color-dark);}

.primary{color: var(--color-primary);}
.danger{color: var(--color-danger);}
.success{color: var(--color-success)}
.warning{color: var(--color-warning);}

.container{
    position: relative;
    display: grid;
    width: 93%;
    margin: 0 3rem;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    padding-top: 4rem;
}
header h3{font-weight: 500;} 
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-color: var(--color-background);
}
header.active{box-shadow: var(--box-shadow);}
header .logo{
    display: flex;
    gap: .8rem;
    margin-right: auto;
}
header .logo img{
    width: 2rem;
    height: 2rem;
}

header,
header .navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
    color: var(--color-info);
}
header .navbar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    padding: 0 2rem;
}
header .navbar a:hover {
    padding-top: 1.5rem;
}
header .navbar a.active{
    background: var(--color-light);
    color: var(--color-primary);
}
header .navbar a.active::before{
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;top: 0;
}
header #profile-btn{
    display: none;
    font-size: 2rem;
    margin: .5rem 2rem 0 0;
    cursor: pointer;
}
header .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 2rem;
}
header .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .theme-toggler span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

/* Profile section  */
aside .profile{
    margin-top: 3rem;
    width: 13rem;
}
aside .profile .top{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 1rem;
}
aside .profile .top:hover .profile-photo{
    scale: 1.05;
}
aside .profile .top .profile-photo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--color-light);
    transition: all 400ms ease;
}
aside .profile .about p{
    padding-bottom: 1rem;
}
aside .profile .about{
    margin-top: 1rem;
}
main{
    position: relative;
    margin-top: 3rem;
}
main .subjects{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

main .subjects > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.5);
}
main .subjects > div:hover{
    box-shadow: 0 0 0;
}
main .subjects > div span{
    background-color: var(--color-primary);
    padding: .5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.5rem;
}
main .subjects > div.mth span,main .subjects > div.cg span{background: var(--color-danger);}
main .subjects > div.cs span{background: var(--color-success);}

main .subjects h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .subjects .progress{
    position: relative;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    margin: auto;
}
main .subjects svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 8;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
main .subjects .eg svg circle{
    stroke-dashoffset: 25;
    stroke-dasharray: 210;
}
main .subjects .mth svg circle{
    stroke-dashoffset: 7;
    stroke-dasharray: 210;
}
main .subjects .cs svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 210;
}
main .subjects .cg svg circle{
    stroke-dashoffset: 0;
    stroke-dasharray: 210;
}
main .subjects .net svg circle{
    stroke-dashoffset: 5;
    stroke-dasharray: 210;
}
main .subjects .progress .number{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .subjects small{
    margin-top: 1rem;
    display: block;
}
main .timetable{
    margin-top: 2rem;
}
main .timetable h2{
    margin-bottom: .8rem;
}
main .timetable table{
    background-color: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .timetable span{display: none;}
main .timetable table:hover{box-shadow: none;}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient);
    
}
main table tbody tr:last-child td{border: none;}

main .timetable.active{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main .timetable.active h2{
    color: var(--color-dark);
}
main .timetable.active table{
    width: 90%;
    max-width: 1000px;
    position: relative;
}
main .timetable.active span{
    display: block;
    font-size: 2rem;
    color: var(--color-dark);
    cursor: pointer;
}
.timetable div{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .timetable.active .closeBtn{
    position: absolute;
    top: 5%;right: 5%;
}

.announcements{
    margin-top:1.4rem;
}

.right{margin-top: 2.2rem;padding-left: 1.5rem;}

.right .announcements h2{margin-bottom: .8rem;}
.right .announcements .updates{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .announcements .updates:hover{box-shadow: none;}
.right .announcements .updates .message{
    gap: 1rem;
    line-height: 1.5;
    padding: .5rem 0;
}

/* Teachers on leave  */
.right .leaves{margin-top: 2rem;}
.right .leaves h2{margin-bottom: .8rem;}
.right .leaves .teacher{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
}
.right .profile-photo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.right .leaves .teacher:hover{box-shadow: none;}





/* MEDIA QUERIES  */
@media screen and (max-width: 1200px) {
    html{font-size: 12px;}
    .container{
        grid-template-columns: 13rem auto 20rem;
    }
    header{position: fixed;}
    .container{padding-top: 4rem;}
    header .logo h2{display: none;}
    header .navbar h3{display: none;}
    header .navbar a{width: 4.5rem; padding: 0 1rem;}

    main .subjects{
        grid-template-columns: repeat(2, 1fr);
        gap: 1;
    }
    main .timetable{
        width: 150%;
        position: absolute;
        padding: 4rem 0 0 0;
    }
}


@media screen and (max-width: 768px){
    html{font-size: 10px;}
    header{padding: 0 .8rem;}
    .container{width: 100%; grid-template-columns: 1fr;margin: 0;}
    header #profile-btn{display: inline;}
    header .navbar{padding: 0;}
    header .navbar a{margin: 0 .5rem 0 0;}
    header .theme-toggler{margin: 0;}
    aside{
        position: absolute;
        top: 4rem;left: 0;right: 0;
        background-color: var(--color-white);
        padding-left: 2rem;
        transform: translateX(-100%);
        z-index: 10;
        width:18rem;
        height: 100%;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        transition: all 2s ease;
    }
    aside.active{
        transform: translateX(0);
    }
    main{padding: 0 2rem;}
    main .timetable{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .timetable table{
        width: 100%;
        margin: 0;
    }
    .right{
        width: 100%;
        padding: 2rem;
    }
}

.trust{
    text-align: center;
}
.trust_img{
    display:flex;
    justify-content: space-evenly;
}
.catalyst{
    text-align: center;
    width:60%;
    margin-left:290px;
    line-height: 20px;
    margin-top:50px;
}
.catalyst_img{
    display:flex;
    justify-content: space-between;
    border-radius: 2rem;
}
.physical{
    width:1200px;
    height:500px;
    margin-left:150px;
    margin-top:100px;
    display:flex;
}
.aside img{
    width:500px;
    height:360px;
    margin-left: 100px;
    border-radius: 1rem;
}
.hding{
    margin-top:60px;
}
.hding a{
    text-decoration: underline;
}
.a1{
    margin-left:85px;
    margin-top:-375px;
    width:110px;
    height:110px;
    background-color: rgb(0, 200, 255);
    border-radius: 1rem;
}
.a2{
    margin-left:435px;
    margin-top:100px;
    width:180px;
    height:180px;
    background-color: rgb(255, 132, 0);
    border-radius: 1rem;
}
.interface{
    width:1200px;
    height:500px;
    margin-left:150px;
    margin-top:0px;
    display:flex;
}
.interface img{
    width:550px;
    height:360px;
    border-radius: 1rem;
    margin-right: 100px;
    margin-top:-50px;
}
.intrfc{
    margin-top:50px;
}
.girl{
    width:1200px;
    height:500px;
    margin-left:150px;
    margin-top:-50px;
    display:flex;
}
.girl_h
{
    margin-top:50px;
}
.girl_img img{
    width:480px;
    height:460px;
    margin-left: 100px;
    border-radius: 1rem;
    margin-top:-120px;
    border-radius: 2rem;
}
.one{
    width:500px;
    height:500px;
    display:flex;
    justify-content: space-around;
}
.one_img{
    width:110px;
    height:180px;
    display: flex;
    margin-left:-10px;
    margin-top:-140px;
}
.one_img2{
    width:110px;
    height:180px;
    display: flex;
    margin-left:-520px;
    margin-top:70px;
}
.one_one{
    margin-right:-1000px;
}
.one_img img, .one_img2 img{
    padding:10px;
    width:170px;
    border-radius: 2rem;
}
.review .heading{
    text-align: center;
}
.review{
    margin-top:-200px;
}
.review .review-slider{
    box-shadow: var(--box-shadow);
    width:900px;
 }
 .swiper-slide img{
    margin-left: 340px;
 }
 .review .review-slider .slide{
    background: var(--white);
     border-radius: .5rem;
     text-align: center;
     padding: 3rem;
 }
 
 .review .review-slider .slide img{
     height: 10rem;
     width: 10rem;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: .5rem;
 }
 
 .review .review-slider .slide h3{
     font-size: 1.5rem;
     color:var(--primary-color);
 }
 
 .review .review-slider .slide p{
     font-size: 1.1rem;
     color:var(--primary-color);
     line-height: 1.7;
     padding: 1rem 0;
 }
 
 .review .review-slider .slide .stars{
     padding: 1rem 0;
     padding-bottom: 1.5rem;
 }
 
 .review .review-slider .slide .stars i{
     font-size: 2rem;
     color:var(--main-color);
 }
 
 .swiper-pagination-bullet-active{
     background: var(--main-color);
 }

/* Updated Styles for Footer */

footer {
    position: relative;
    color: #fff;
    padding: 20px; 
    width: 80%; /* Adjusted width for better responsiveness */
    margin: 50px auto; /* Centered the footer */
    border-radius: 2rem;
    
}

.footer-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-container img{
    margin-left:28px;
}

.footer-section {
    flex: 1;
    text-align: center;
    background-color:white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}

.footer-container h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section form {
    margin-top: 15px;
}

.footer-section input,
.footer-section button {
    padding: 12px; 
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section input {
    width: calc(100% - 22px);
    border:2px solid black;
}

.footer-section button {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
}

.footer-section button:hover {
    background-color: #45a049;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    padding: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size for better readability */
}

.footer-bottom p:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.footer-section li:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.ah1{
    margin-top:26px;
}
.footer-section img {
    height: 70px;
    width: 180px;
    border-radius: 1rem;
    margin-left:40px;
    border:1px solid black;
}
.box2, .box3{
    margin-left:18px;
}

.box1,
.box2,
.box3,
.box4 {
    z-index: 2;
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
    height: 100%;
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  }
   */
   .rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
    display: flex;
  }
  .head-review img {
    transition: transform 0.3s ease-in-out;
}

.head-review img:hover {
    transform: scale(1.1);
}
.head-review img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition */
}

.head-review img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Increase the shadow on hover */
}
  
  .title{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color:#000000;
    text-align: center;
  }

  .reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
  }
  .head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
  
  .body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }

  .place-review{
    color: violet;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }
  
  @media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }
  .credit a{
    text-decoration: none;
    color: #fff;
  }


